<robot name="077_rubiks_cube">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="0.0021813223192240555 0.004668752313538512 0.006541770006435767" />
			<geometry>
				<mesh filename="077_rubiks_cube/textured.obj" scale="20 20 20" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="077_rubiks_cube/textured_vhacd.obj" scale="20 20 20" />
			</geometry>
		<origin rpy="0 0 0" xyz="0.0021813223192240555 0.004668752313538512 0.006541770006435767" /></collision>
		<inertial>
			<mass value="0.01" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>