<robot name="CubeLifeSize_v2_60_120">
	<link name="object">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.6" />
			<geometry>
				<mesh filename="CubeLifeSize_v2_60_120/CubeLifeSize_v2_60_120.obj" scale="0.02 0.02 0.02" />
			</geometry>
			<material name="texture">
				<color rgba="0.3 1.0 0.3 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.6" />
			<geometry>
				<mesh filename="CubeLifeSize_v2_60_120/CubeLifeSize_v2_60_120_vhacd.obj" scale="0.02 0.02 0.02" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.020" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>