<robot name="box">

  <link name="box">
		<visual>
		    <origin xyz="0 0 0." rpy="0 0 0"/>
			<geometry>
				<box size="1 1 1"/>
			</geometry>
			<material name="anotherOne">
	       		<color rgba="0 0.8 0.3 1.0"/>
	     	</material>
		</visual>
        <collision>
          <geometry>
				<box size="1 1 1"/>
          </geometry>
        </collision>
        <inertial>
          <mass value="1.5"/>
        <inertia ixx=".50" ixy="0.0" ixz="0" iyy=".5" iyz="0.0" izz=".5"/>
    </inertial>
  </link>

</robot>