<robot name="real_cube_60mm_chamfer">
	<link name="object">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="-0.6 -0.6 -0.6" />
			<geometry>
				<mesh filename="real_cube_60mm_chamfer/part.obj" scale="0.02 0.02 0.02" />
			</geometry>
			<material name="texture">
				<color rgba="0 0.8 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0.0 0.0 0.0" xyz="-0.6 -0.6 -0.6" />
			<geometry>
				<mesh filename="real_cube_60mm_chamfer/part_vhacd.obj" scale="0.02 0.02 0.02" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.010" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>