<robot name="FlatPalm_v2_35">
	<link name="object">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="1.7310461327547491e-09 -2.1658735535716396e-18 -0.2" />
			<geometry>
				<mesh filename="FlatPalm_v2_35/FlatPalm_v2_35.obj" scale="0.020 0.020 0.020" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 0.0 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0.0 0.0 0.0" xyz="1.7310461327547491e-09 -2.1658735535716396e-18 -0.2" />
			<geometry>
				<mesh filename="FlatPalm_v2_35/FlatPalm_v2_35_vhacd.obj" scale="0.020 0.020 0.020" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>