<robot name="Cylinder_v6_80_60">
	<link name="object">
		<visual>
			<origin xyz="0.0 -2.059711724752023e-17 -0.6000000000000001" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="Cylinder_v6_80_60/Cylinder_v6_80_60.obj" scale="0.02 0.02 0.02" />
			</geometry>
			<material name="texture">
				<color rgba="0.0 1.0 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0.0 -2.059711724752023e-17 -0.6000000000000001" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="Cylinder_v6_80_60/Cylinder_v6_80_60_vhacd.obj" scale="0.02 0.02 0.02" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.020" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>